
<div class="container">
    <h1 class="text-center">7 Seas</h1>
    <% @seas.each do |sea| %>
      <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 40rem">
          <img class="card-img-top img-thumbnail" style="height: 15rem"src=<%= sea.image_url %> alt="sea">
          <div class="card-block">
            <h4 class="card-title text-center"><%= sea.name %></h4>
            <p class="card-text" style="height: 10rem"><%= sea.bio %></p>
            <a href="/seas/<%=sea.id%>" style="width: 100%" class="btn btn-primary">Sea Profile</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
