<form method="POST" action="/seas">
  <p>Name: <input type="text" name="name"></p>
  <p>Bio: <input type="text" name="bio"></p>
  <p>Temperature: <input type="text" name="temperature"></p>
  <p>Favorite Color: <input type="text" name="favorite_color"></p>
  <p>Scariest Creature: <input type="text" name="scariest_creature"></p>
  <p>Mood: <input type="text" name="mood"></p>
  <p><input type="checkbox" name="has_mermaids"> Has Mermaids</p>
  <input type="submit">
</form>
