<div class="container" style="background: url('https://ak8.picdn.net/shutterstock/videos/15121852/thumb/1.jpg') no-repeat; background-size: 100% 100%">

  <div class="text-center col-md-8 col-md-offset-2"  style="background-color: rgba(255, 255, 255, 0.8)">
    <header class="text-center"><img src="/images/grace-hopper.jpg" class="img-fluid main-image" style="height:30vh"></header>
    <h2>Welcome to the Seven Seas</h2>

    <div class="content")>
      <p>Seven seas...<br>
      Seven restful routes...<br>
      Seven days of studying web frameworks...<br>
      And now it's time to review with a Sinatra to Rails challenge!</p>
    </div>
    <a href="/seas" style="font-size: 250%"><i>SET SAIL ON YE MAIDEN VOYAGE</i></a>
    <div>
      <img src="/images/jack-sparrow.gif" class="img-fluid main-image" style="height:30vh">
    </div>

  </div>
</div>
